[submodule "CasaOS"]
	path = CasaOS
	url = git@github.com:Metazla/CasaOS.git
	branch = main
[submodule "CasaOS-AppManagement"]
	path = CasaOS-AppManagement
	url = git@github.com:Metazla/CasaOS-AppManagement.git
	branch = main
[submodule "CasaOS-AppStore"]
	path = CasaOS-AppStore
	url = git@github.com:Metazla/CasaOS-AppStore.git
	branch = main
[submodule "CasaOS-Gateway"]
	path = CasaOS-Gateway
	url = git@github.com:Metazla/CasaOS-Gateway.git
	branch = main
[submodule "CasaOS-LocalStorage"]
	path = CasaOS-LocalStorage
	url = git@github.com:Metazla/CasaOS-LocalStorage.git
	branch = main
[submodule "CasaOS-MessageBus"]
	path = CasaOS-MessageBus
	url = git@github.com:Metazla/CasaOS-MessageBus.git
	branch = main
[submodule "CasaOS-UI"]
	path = CasaOS-UI
	url = git@github.com:Metazla/CasaOS-UI.git
	branch = main
[submodule "CasaOS-UserService"]
	path = CasaOS-UserService
	url = git@github.com:Metazla/CasaOS-UserService.git
	branch = main
